/*UTILITIES*/
.section__animate .plan .card__plan, .section__animate .destino .card__destino {
  background-color: #2273ad;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.section__animate .plan .btn, .section__animate .destino .card__destino .card__body .btn {
  background-color: #fff;
  color: #2273ad;
  border: none;
}
.section__animate .plan .btn:hover, .section__animate .destino .card__destino .card__body .btn:hover {
  background-color: #46aef7;
}

/*BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

/*LAYOUTS*/
.navbar {
  grid-area: nav;
  padding: 5px;
  margin-bottom: 40px;
  color: #fff !important;
  background-color: #46aef7 !important;
}
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar .navbar-toggler-icon {
  filter: invert(100%);
}
.navbar .nav-link {
  color: #fff !important;
  text-decoration: none;
  padding: 8px;
}
.navbar .nav-link:hover {
  color: #000000 !important;
}
.navbar .nav__logo {
  font-size: 1.8rem;
  font-weight: 200px;
  text-align: center;
  margin: 15px;
}
@media screen and (min-width: 992px) {
  .navbar .navbar-collapse {
    justify-content: end;
    margin-right: 10rem;
  }
}

footer {
  grid-area: footer;
  color: #fff;
  background-color: #46aef7;
}
footer .footer__p {
  padding-top: 20px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#travel {
  background-color: #fff;
  color: #46aef7;
  display: grid;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "nav" "content" "section" "footer";
}

#travel__nosotros {
  color: #46aef7;
  display: grid;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "nav" "section" "footer";
}

/*VIEWS*/
body {
  background-color: red;
}

.travel__main {
  grid-area: content;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  text-align: center;
  color: #46aef7;
}
.travel__main .travel__title {
  font-size: 2.6rem;
  margin-top: 20px;
}
.travel__main .travel__subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.travel__main .travel__link__contact {
  background-color: #46aef7;
  text-decoration: none;
  color: #fff;
  padding: 15px 30px;
  display: inline-block;
  font-weight: 700;
  transition: background-color 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.travel__main .travel__link__contact:hover {
  background-color: #2273ad;
}
.travel__main .travel__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .travel__main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    text-align: start;
  }
  .travel__foto {
    align-self: center;
  }
  .travel__link__contact {
    margin: 0px;
  }
}
/*BANNERS*/
.travel__section {
  grid-area: section;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
  margin-top: 10px;
  gap: 15px;
}
.travel__section .card__travel {
  background-color: #46aef7;
  color: #fff;
  padding: 20px;
  margin: 0px 10px 20px 10px;
  border-radius: 10px;
  text-align: center;
  transition: scale 0.3s;
}
.travel__section .card__travel:hover {
  scale: 1.1;
}
.travel__section .card__travel .banner__icon {
  width: 40px;
  filter: invert(100%);
}
.travel__section .card__travel .banner__title {
  margin-top: 5px;
  margin-bottom: 10px;
}
.travel__section .card__travel .banner__descripcion {
  text-align: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .travel__section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }
}
.animacion__animate {
  grid-area: section;
  background-color: #46aef7;
  margin-bottom: 20px;
}
.animacion__animate .animacion__hr {
  border: #2273ad 10px solid;
}
.animacion__animate .animacion__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.animacion__animate .animacion__div .animacion__h1 {
  color: white;
}
.animacion__animate .animacion__div .animacion__img {
  justify-self: end;
  height: 100px;
  width: 100px;
  filter: invert(100%);
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-animation: bounceInLeft;
          animation: bounceInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.section__animate {
  grid-area: main;
}
.section__animate .animate__titulo {
  text-align: center;
}
.section__animate .destino .card__destino .card__img {
  border-radius: 5px;
}
.section__animate .destino .card__destino .card__body .card__title {
  margin-top: 10px;
}
.section__animate .plan .card__svg {
  width: 100px;
}/*# sourceMappingURL=styles.css.map */