.animacion__animate {
    grid-area: section;
    background-color: nth($color, 1);
    margin-bottom: 20px;

    
    .animacion__hr {
        border: nth($color, 3) 10px solid;
    }

    .animacion__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        .animacion__h1 {
            color: white;
        }
    
        .animacion__img {
            justify-self: end;
            height: 100px;
            width: 100px;
            filter: invert(100%);
            display: inline-block;
            margin: 0 0.5rem;
            animation: bounceInLeft;
            animation-duration: 2s;
        }
        
    }
}

.section__animate {
    grid-area: main;

    .animate__titulo {
        text-align: center;
    }

    .destino {
        .card__destino {
            @extend %cards__animate;

            .card__img {
                border-radius: 5px;
            }
        
        .card__body {
            .card__title {
                margin-top: 10px;
            }
            
            .btn {
                @extend %button;
            }
        }
        }
    }

    .plan {
        .card__svg {
            width: 100px;
        }

        .card__plan {
            @extend %cards__animate;
        }

        .btn {
            @extend %button;
        }
    }
}








