.nosotros__section {
    grid-area: section;

    .nosotros__card {
        color: black;

        .card__image {
            height: 180px;
            width: 280px;
            max-width: 100%;

            .card__h4 {
                margin-bottom: 10px;
            }
        }
    }
}