* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    background-color: nth($color, 2);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

