@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
}

/*MOBILE FIRST*/

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}



#travel {
    /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
    background-color: #fff;
    color: #46aef7;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav"
    "content"
    "section"
    "footer";
}

/*HEADER*/

.navbar {
    grid-area: nav;
    padding: 5px;
    margin-bottom: 40px;
    color: white!important;
    background-color: #46aef7!important;
}

.navbar-brand {
    color: white!important;
}

.nav-link { 
    color: rgb(255, 255, 255)!important;
    text-decoration: none;
    padding: 8px;
}

.nav-link:hover {
    color: #000000!important;
}

.navbar-toggler-icon {
    filter:invert(100%);
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width:992px) {
    .navbar-collapse {
        justify-content: end;
        margin-right: 10rem;
    }
}

.nav__logo {
    font-size: 1.8rem;
    font-weight: 200px;
    text-align: center;
    margin: 15px;
}


.travel__main {
    grid-area: content;
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    text-align: center;

}

@media screen and (min-width:768px) {
    .travel__main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, max-content);
        text-align: start;
    }
}


.travel__title {
    font-size: 2.6rem;
    margin-top: 20px;
}

.travel__subtitle {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
}


.travel__link__contact {
    background-color: #46aef7;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    padding: 15px 30px;
    display:inline-block;
    font-weight: 700;
    transition: background-color .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.travel__link__contact:hover {
    background-color: #2273ad;
}

.travel__wave {
    grid-area: content;
    align-self: end;
    margin-bottom: 20px;
}

.travel__img {
    width: 100%;
}

@media screen and (min-width:768px) {

    .travel__foto { 
        align-self: center;
    }

    .travel__link__contact {
        margin: 0px;
    }
}


/*BANNERS*/

.travel__section {
    grid-area: section;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    margin-top: 10px;
    gap: 15px;
}

.card__travel {
    /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
    background-color: #46aef7;
    color: #fff;
    padding: 20px;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    text-align: center;
    transition: scale .3s;
}

.card__travel:hover {
    scale: 1.1;
}



.banner__icon {
    width: 40px;
    filter: invert(100%);
}

.banner__title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner__descripcion {
    text-align: center;
    margin-top: 20px;
}


@media screen and (min-width:768px) {
    .travel__section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
    }
}


footer {
    grid-area: footer;
    color: #fff;
    background-color: #46aef7;
}

.footer__p {
    padding-top: 20px;
}

/*ANIMATE*/

.travel__animate {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav"
    "section"
    "footer"
}

.animacion__animate {
    grid-area: section;
    background-color: #46aef7;
}

.animacion__hr {
    border: #2273ad 10px solid;
}

.animacion__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.animacion__h1 {
    color: white;

}

.animacion__img {
    justify-self: end;
    height: 100px;
    width: 100px;
    filter: invert(100%);
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounceInLeft;
    animation-duration: 2s;
}

.section__destino {
    grid-area: main;
}

.animate__titulo {
    text-align: center;
}

.card__destino, .card__plan {
    background-color: #2273ad;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.card__title {
    margin-top: 10px;
}

.btn {
    background-color: #fff;
    color: #2273ad;
    border: none;
}

.btn:hover {
    background-color: #46aef7;
}

.card__img {
    border-radius: 5px;
}

.card__plan {
    width: 70%;
}

.card__svg {
    width: 100px;
}


/*NOSOTROS*/

#travel__nosotros {
    color: #46aef7;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav"
    "section"
    "footer";
}

.nosotros__section {
    grid-area: section;
}

.nosotros__card {
    color: black;
}

.card__image {
    height: 180px;
    width: 280px;
    max-width: 100%;
}

.card__h4 {
    margin-bottom: 10px;
}


/*FAQ*/

#travel__faq {
    background-color: #fff;
    color: #46aef7;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav"
    "section"
    "footer";
}


.faq__section {
    grid-area: section;
}

/*CONTACTO*/

#travel__contacto {
    color: #46aef7;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-areas:
    "nav"
    "section"
    "footer";
    
}

.travel__contacto {
    grid-area: section;
}


.contacto {
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    align-items: center;
}

.contacto__svg {
    justify-self: center;
    width: 40%;
}

@media screen and (min-width:576px) {
    .contacto {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
    }

    .contacto__svg {
        width: 80%;
    }
}

.contacto__form {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #46aef7;
    color: #fff;
    padding: 2rem;
    margin-bottom: 3rem;
    gap: 10px;
}